@media(min-width: 376px) {
  body {
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    padding: 2rem;
    /* display: flex;
    justify-content: start; */
  }
  header p {
    font-size: 16px;
    width: 55%;
  }
  section {
    display: flex;
  }
  aside {
    border-bottom-left-radius: 15px;
    background-color: hsl(179, 62%, 43%);
    padding: 3rem;
    width: 50%;
  }
  summary {
    border-bottom-right-radius: 15px;
    background-color: hsla(179, 62%, 43%, 0.7);
    padding: 3rem;
    width: 50%;
  }
}